<div id="content">
	<!-- widget grid -->
    <section id="widget-grid" class="col-xs-12 col-sm-2" widget-grid>

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div jarvis-widget data-widget-color="blueLight" id="wid-id-0" data-widget-editbutton="false">
                
                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body">

                        <form class="dropzone" data-smart-dropzone="dropzoneConfig">
                            <div class="dz-default dz-message"><span><span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"> Upload <span class="font-xs">photo</span></span></span></span></span></div>
                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
    </section>

    <!-- widget grid -->
    <section id="widget-grid" class="col-xs-12 col-sm-10" widget-grid>

    	<!-- row -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="basic-form-elements" data-widget-colorbutton="false" data-widget-editbutton="false"
                     data-widget-custombutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                    <header>

                        <h2>Information of new doctor</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">

                                <fieldset>

                                    <section>
                                        <div class="row">
	                                        <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Name</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Name">
		                                        </label>
	                                        </div>
	                                        <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Email</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Email">
		                                        </label>
	                                        </div>
                                        </div>
                                    </section>

                                    <section>
	                                    <div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Gender</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Male/Female">
		                                        </label>
		                                    </div>
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Phone</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Contact">
		                                        </label>
		                                    </div>
                                        </div>
                                    </section>

                                    <section>
                                    	<div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Education</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Text">
		                                        </label>
		                                    </div>
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">University/Organization</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Text">
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                    <section>
                                    	<div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Affiliations</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Text">
		                                            <a href-void="" class="btn btn-primary btn-circle" href="#"><i class="glyphicon glyphicon-list"></i></a>
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                    <section>
                                        <div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Board Certifications</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Text">
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                    <section>
                                        <div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Awards and Publications</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Text">
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                    <section>
                                        <div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Languages Spoken</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Info">
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                    <section>
                                        <div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Procedures</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Procedures">
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                    <section>
                                        <div class="row">
		                                    <div class="col-xs-12 col-sm-6">
		                                        <label class="label" style="margin-left: 15px;margin-right: 15px;">Professional Statement</label>
		                                        <label class="input" style="margin-left: 15px;margin-right: 15px;">
		                                            <input type="text" placeholder="Text">
		                                        </label>
		                                    </div>
		                                </div>
                                    </section>

                                </fieldset>

                                <footer>
                                	<div class="row">
		                                <div class="col-xs-12 col-sm-6">
		                                    <button type="submit" class="btn btn-primary" style="margin-right: 15px;">
		                                        Appointment Settings
		                                    </button>
		                                    <button type="submit" class="btn btn-primary">
		                                        Save
		                                    </button>
		                                    <button type="button" class="btn btn-default" onclick="window.history.back();">
		                                        cancel
		                                    </button>
		                                </div>
		                            </div>
                                </footer>
                            </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

            </article>
        <!-- END COL -->
        </div>

    </section>

</div>