<div id="content">
	<!-- widget grid -->
    <section id="widget-grid" class="col-xs-12 col-sm-2" widget-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget data-widget-color="blueLight" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="dropzone" data-smart-dropzone="dropzoneConfig">
                                <div class="dz-default dz-message"><span><span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"> Upload <span class="font-xs">photo</span></span></span></span></span></div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- widget grid -->
    
    <section id="widget-grid" class="col-xs-12 col-sm-push-1 col-sm-8" widget-grid>

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="form-grid-widget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget div-->
                    <div style="border: none;">
                       <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form class="smart-form">
                                <header style="border-bottom: solid 2px #0ff;font-size: 24px;line-height:2.4;font-weight: bold;">
                                    Change Your Calendar Settings
                                </header>

                                <style>
                                    label input.checkbox.style-3[type="checkbox"]:checked + span::before {
                                        color: #fff;
                                        border-color: #3ada7b;
                                        background: #3ada7b;
                                    }
                                    .smart-form div.checkbox{
                                        display: inline-block;
                                    }
                                </style>

                                <fieldset>
                                    <div class="row">
                                        <section class="col-xs-12 col-sm-5">
                                            <div class="checkbox" style="padding-left:25px;">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Always show today as first day on my calendar</span>
                                                </label>
                                            </div>
                                            <div style="padding-left:25px;padding-right:25px;">
                                                <label class="select">
                                                    <select style="border-radius:10px;">
                                                        <option value="0">Show Calendar Slots of</option>
                                                        <option value="1">AAA</option>
                                                        <option value="2">BBB</option>
                                                        <option value="3">CCC</option>
                                                        <option value="4">DDD</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                        </section>
                                        <section class="col-xs-12 col-sm-7">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3" checked="checked">
                                                    <span>Practice operates in two sessions</span>
                                                </label>
                                            </div>
                                            <div class="row" style="margin-left: 25px;margin-right: 25px;">
                                                <div class="col-xs-4 col-sm-2" style="margin-top:5px;margin-bottom: 10px;">
                                                    Practice Open
                                                </div>
                                                <div class="col-xs-8 col-sm-4" style="margin-bottom: 10px;">
                                                    <label class="input" style="margin-right:10px;">
                                                        <input type="text">
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 col-sm-2" style="margin-top:5px;margin-bottom: 10px;">
                                                    Lunch At
                                                </div>
                                                <div class="col-xs-8 col-sm-4" style="margin-bottom: 10px;">
                                                    <label class="input" style="margin-right:10px;">
                                                        <input type="text">
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 col-sm-2" style="margin-top:5px;margin-bottom: 10px;">
                                                    Resume At
                                                </div>
                                                <div class="col-xs-8 col-sm-4" style="margin-bottom: 10px;">
                                                    <label class="input" style="margin-right:10px;">
                                                        <input type="text">
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 col-sm-2" style="margin-top:5px;margin-bottom: 10px;">
                                                    Practice Close
                                                </div>
                                                <div class="col-xs-8 col-sm-4" style="margin-bottom: 10px;">
                                                    <label class="input" style="margin-right:10px;">
                                                        <input type="text">
                                                    </label>
                                                </div>
                                            </div>
                                        </section>
                                    </div>                                 
                                </fieldset>
                                
                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Sunday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Sunday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Monday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Monday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Tuesday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Tuesday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Wednesday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Wednesday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Thursday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Thursday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Friday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Friday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Saturday</span>
                                                </label>
                                            </div>
                                            <div class="checkbox col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3">
                                                    <span>Practice operates in two sessions for Saturday</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer>
                                    <div class="row" style="margin-right:25px;margin-left: 25px;">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="checkbox" style="display:block;padding-left:0px;">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-3" checked="checked">
                                                    <span>Visiting hours are NOT same for all working days in a week</span>
                                                </label>
                                            </div>
                                            <div style="display:inline-block;">
                                                Active / Inactive
                                            </div>
                                            <span class="onoffswitch">
                                                <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st3">
                                                <label class="onoffswitch-label" for="st3">
                                                    <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="border-radius: 15px;background-color: #34d877;border-color: #34d877;font-weight: bold;">
                                            Update
                                        </button>
                                    </div>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>

</div>