<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
    	<div class="row" style="font-size:20px;text-align:center;text-weight:bold;margin:30px;">
    		No Doctor found
    	</div>
    	<div class="row">
    		<style>
    			.btn-dc{
                    margin: 20px;
    				padding: 10px 20px;
    				border-radius:20px;
    				color:#ff4976;
                    border-color:#ff4976;
    			}
    		</style>
    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-lg-push-3" data-ui-sref-active="active">
    			<center><a data-ui-sref="app.dashboard" class="btn btn-default btn-dc" s>ADD ME AS DOCTOR</a></center>
    		</div>
    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-lg-push-3" data-ui-sref-active="active">
    			<center><a data-ui-sref="app.settings.doctors.new" class="btn btn-default btn-dc">ADD DOCTOR</a></center>
    		</div>
    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-lg-push-3" data-ui-sref-active="active">
    			<center><a data-ui-sref="app.dashboard" class="btn btn-default btn-dc">DASHBOARD</a></center>
    		</div>
    	</div>
    </section>
</div>