<div id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <div icon="table" class="col-xs-12 ng-isolate-scope">
                <h1>
                    Users
                </h1>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid rgb(170, 170, 170);">
            <div class="col-xs-12 col-sm-4" style="display:inline-block;text-align:center;">
                <h5  style="margin:0px -13px;padding:13px 0px;background-color:#D3D3D3;">USER DETAILS</h5>
                <h5>sandeep@noosyntech.com</h5>
            </div>
            <div class="col-xs-12 col-sm-4" style="display:inline-block;text-align:center;">
                <h5  style="margin:0px -13px;padding:13px 0px;background-color:#D3D3D3;">ROLE</h5>
                <h5>Admin</h5>
            </div>
            <div class="col-xs-12 col-sm-4" style="display:inline-block;text-align:center;">
                <h5  style="margin:0px -13px;padding:13px 0px;background-color:#D3D3D3;">ACTIONS</h5>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12" style="text-align:center;font-size:96px;">
                <i class="fa fa-user"></i>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12 col-sm-4 col-sm-push-4" style="text-align:center;font-size:24px;">
                Invite your employees as users and assign suitable roles to them. Each role comes with certain privileges and restrictions.
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <center data-ui-sref-active="active">
                <a data-ui-sref="app.settings.invitation" class="btn btn-default btn-lg">
                    <strong>Invite User</strong>
                </a>
            </center>
        </div>
    </section>
</div>